src/xml_schema_vorlesung/testElementContentNamespace01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- file: testElementContentNamespace01.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="Namespace02"
           xmlns:test="Namespace02">
    <xs:element name="one"/>
    <xs:element name="two"/>
    <xs:element name="example">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="test:one"/>
                <xs:element ref="test:two"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

